/* You can add global styles to this file, and also import other style files */
.page-container {
    text-align: center;
    margin-top: 50px;
    font-family: Arial, sans-serif;
    background-color: transparent;
    color: inherit;
}

body, html {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa; /* Default light background */
  color: black; /* Default light text */
}

body.dark-mode, html.dark-mode {
  background-color: #333; /* Dark background */
  color: #fff; /* Dark text */
}